body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    color           : #fff;
}

#title h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size  : 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size  : 3rem;
    line-height: 1.5;
}

#container1 {
    padding: 3% 15% 7%;
}

/* navigation bar */
.navbar-brand {
    font-family: Ubuntu;
    font-size  : 2.5rem;
    font-weight: bold;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-link {
    margin     : 0 18px;
    font-size  : 1.2rem;
    font-family: 'Montserrat';
    font-weight: 400px;
}

/* Download button */
.download-button {
    margin: 5% 3% 5% 0;
}

/* tittle image */
.buatrelativebiarbisagambarkecil {
    position: relative;
}

.tittle-image {
    position : absolute;
    width    : 60%;
    transform: rotate(25deg);
    right    : 30%;
}

/* list */
#list i {
    color        : #ef8172;
    margin-bottom: 1rem;
}

#list i:hover {
    color: #ff4c68;
}

#list {
    position        : relative;
    background-color: #fff;
}

#list h3 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size  : 1.5rem;
    font-weight: 400;
}

#container2 {
    padding: 7% 15%;
}

#list p {
    font-family: 'Montserrat';
    color      : #8f8f8f;
}

.feature-box {
    padding: 5%;
}

/* buat footer */
#container4{
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
    color: white;
    z-index: 1;
}

.footer-icon{
    margin: 20px 10px;
    color: white;
}

/* buat responsive */
@media (max-width: 1028px) {
    .judul {
        text-align: center;
    }

    .tittle-image {
        position : static;
        transform: rotate(0);
    }
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #ef8172 !important;
    border: #ef8172;
}

#tambah {font-size: 25px}

.tabel th{
    background-color: #ff4c68;
    color: white;
}